<div>
  <p>
    {{ total() }} products
  </p>
  <mat-grid-list
    [cols]="columns"
    rowHeight="6:10"
    (window:resize)="onResize($event)"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrollend)="bottomReach.emit()"
    (scrolled)="bottomReach.emit()">
    @for (product of products(); track product.id) {
      <mat-grid-tile>
        <a [routerLink]="'/products/' + product.id">
          <img class="image" loading="lazy" [src]="product | productContent" alt="{{ product.name }}">
        </a>
      </mat-grid-tile>
    } @empty {
      <p>No products found.</p>
    }
  </mat-grid-list>
  @if (isLoading()) {
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  }
</div>
